* { 
	box-sizing: border-box;
	border: 1px solid hotpink; 
	padding: 5px;
}
body { margin: 0; }

.header {
    margin: 0 auto;
    text-align:center;
    padding: 0 300px 0 300px;
}

.menu, header {
    margin: 0 auto;
    text-align:center;
}

.menu li{
    display: inline-block;
    padding: 10px 20px;
}

a:hover {color: hotpink;}
.menu a, footer a{color: blue;}
a{
    text-decoration: none;
}
.menu a:hover {background-color:pink}

h1{
    padding: 15px 10px 10px 10px;
    font-size: 45px;
}

h2{
    font-size: 25px;
    background-color: pink;
	  opacity: 0.7;
	  box-shadow: 5px 5px 10px 0 #cccccc;
    border-radius: 5px;
    color: white;
	  letter-spacing: 1px;
	  font-weight: normal;
	  padding: 10px;
    padding: 5px 10px;
 }

.catchphrase{
	font-size: 25px;
}

/* footer */
footer{
    background-color: #632A3E;/*#835c46;*/
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
}

/* Content */
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1050px;
}

.center{
    text-align: center;
    padding: 1000 px;
}
.left {
    float: left;
    padding: 20px;
  }
.right {
    float: right;
    padding: 20px 10px;
  }
longpad {
    padding: 5px 150px;
  }
mediumpad {
    padding: 5px 50px;
  }

#inline {display: inline-block;}

img { padding-top: 10px; }

p{
    margin: 20px 20px;
    font-size: 15px;
    line-height: 25px;
}
